<% let pageId = 'works-detail'; %> <% let path = jsonData.pages[pageId].path %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../../common/_head', {pageId:pageId }) %>
  <body class="subpage js-body">
    <div class="" ontouchstart="">
      <%- include('../../common/_header', {pageId:pageId }) %>
      <!-- cusor-pointer -->
      <div id="js-cursor-img" class="p-cursor-img"></div>
      <div id="js-chaser-img" class="p-chaser-img">
        <figure class="js-cursor-img01">
          <img
            src="<%= path %>assets/images/worksdetail/pointer_img01.jpg"
            width="240"
            height="280"
            loading="lazy"
            alt="リンク：建築事業"
          />
        </figure>
        <figure class="js-cursor-img02">
          <img
            src="<%= path %>assets/images/worksdetail/pointer_img02.jpg"
            width="240"
            height="280"
            loading="lazy"
            alt="リンク：土木事業"
          />
        </figure>
        <figure class="js-cursor-img03">
          <img
            src="<%= path %>assets/images/worksdetail/pointer_img03.jpg"
            width="240"
            height="280"
            loading="lazy"
            alt="リンク：住宅事業"
          />
        </figure>
      </div>
      <!-- /cusor-pointer -->
      <!-- main -->
      <main id="top" class="l-main">
        <section class="l-hero--noimg">
          <div class="l-hero--noimg__heading-wrapper">
            <!-- l-section-title -->
            <h2 class="l-section__title js-title load">
              <span class="l-section__titleTextWrap">
                <span class="l-section__titleText">W</span>
                <span class="l-section__titleText">o</span>
                <span class="l-section__titleText">r</span>
                <span class="l-section__titleText">k</span>
                <span class="l-section__titleText">s</span>
              </span>
              <span class="-jp">施工実績</span>
            </h2>
            <!-- l-section-title -->
          </div>
          <div class="l-hero--noimg__breadcrumbs">
            <a href="">top</a><a href="">施工実績</a>高等学校改修工事
          </div>
        </section>

        <!-- sec-works-detail -->
        <section class="p-works-detail">
          <div class="l-container">
            <article class="p-works-detail__article">
              <nav class="p-works-detail__nav">
                <ul class="p-works-detail__list">
                  <li class="p-works-detail__item">
                    <a
                      href="#item01"
                      class="p-works-detail__link js-link01 is-active"
                      >概要</a
                    >
                  </li>
                  <li class="p-works-detail__item">
                    <a href="#item02" class="p-works-detail__link js-link02"
                      >ギャラリー</a
                    >
                  </li>
                  <li class="p-works-detail__item">
                    <a href="#item03" class="p-works-detail__link js-link03"
                      >工事内容</a
                    >
                  </li>
                </ul>
              </nav>

              <div class="p-works-detail__content">
                <h1 class="p-works-detail__title">高等学校改修工事</h1>
                <div class="p-works-detail__info">
                  <time>2022.02.24</time>
                  <span class="p-works-detail__tag">建築</span>
                </div>
                <figure class="p-works-detail__eyecatch">
                  <img
                    src="<%= path %>assets/images/worksdetail/eyecatch_img.jpg"
                    alt=""
                  />
                </figure>
                <div id="item01" class="p-works-detail__block js-block01">
                  <h2 class="p-works-detail__blockTitle">概要</h2>
                  <p class="p-works-detail__blockText">
                    県内の高等学校の改修工事を行いました。<br />歴史ある高等学校ということで、これまでの歴史を振り返られる部分は残しつつ、今後も長く存在し続けられるよう、地盤強化を施させていただきました。<br />“安全に過ごせる”を当たり前に、そんな当たり前を自信持って提供し続けられるよう技術を高め続けて参ります。
                  </p>
                </div>
                <div id="item02" class="p-works-detail__block js-block02">
                  <h2 class="p-works-detail__blockTitle">ギャラリー</h2>
                  <ul class="p-works-detail__gallery">
                    <li class="p-works-detail__galleryItem">
                      <a
                        href="<%= path %>assets/images/worksdetail/detail_img01.jpg"
                        class="p-works-detail__galleryLink glightbox"
                      >
                        <figure>
                          <img
                            src="<%= path %>assets/images/worksdetail/detail_img01_small.jpg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </li>
                    <li class="p-works-detail__galleryItem">
                      <a
                        href="<%= path %>assets/images/worksdetail/detail_img02.jpg"
                        class="p-works-detail__galleryLink glightbox"
                      >
                        <figure>
                          <img
                            src="<%= path %>assets/images/worksdetail/detail_img02_small.jpg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </li>
                    <li class="p-works-detail__galleryItem">
                      <a
                        href="<%= path %>assets/images/worksdetail/detail_img03.jpg"
                        class="p-works-detail__galleryLink glightbox"
                      >
                        <figure>
                          <img
                            src="<%= path %>assets/images/worksdetail/detail_img03_small.jpg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </li>
                    <li class="p-works-detail__galleryItem">
                      <a
                        href="<%= path %>assets/images/worksdetail/detail_img04.jpg"
                        class="p-works-detail__galleryLink glightbox"
                      >
                        <figure>
                          <img
                            src="<%= path %>assets/images/worksdetail/detail_img04_small.jpg"
                            alt=""
                          />
                        </figure>
                      </a>
                    </li>
                  </ul>
                </div>
                <div id="item03" class="p-works-detail__block js-block03">
                  <h2 class="p-works-detail__blockTitle">工事内容</h2>

                  <dl class="c-definition__list">
                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">竣工</dt>
                      <dd class="c-definition__desc">2022年2月11日</dd>
                    </div>
                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">工事名</dt>
                      <dd class="c-definition__desc">
                        千葉県立◯◯高等学校改修工事
                      </dd>
                    </div>
                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">発注者</dt>
                      <dd class="c-definition__desc">千葉県◯◯市　◯◯部</dd>
                    </div>

                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">設計</dt>
                      <dd class="c-definition__desc">株）◯◯設計事務所</dd>
                    </div>
                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">担当</dt>
                      <dd class="c-definition__desc">藤原建設工業</dd>
                    </div>
                    <div class="c-definition__list-item">
                      <dt class="c-definition__term">詳細</dt>
                      <dd class="c-definition__desc">
                        校舎・屋上　一式改修工事<br />外壁・内部改修、塗装など
                      </dd>
                    </div>
                  </dl>
                </div>

                <div class="p-works-detail__otherLinkInner">
                  <ul class="p-works-detail__otherLinkList">
                    <li class="p-works-detail__otherLinkItem">
                      <a
                        href=""
                        class="p-works-detail__otherLink js-works-cursor01 -cursorNone -archi"
                      >
                        <div class="p-works-detail__item-inner">
                          <div class="p-works-detail__text-left">
                            <h3 class="p-works-detail__item-title">
                              Architecture
                              <br />
                              <span>建築事業</span>
                            </h3>
                          </div>
                          <div class="p-works-detail__text-right">
                            <div class="c-arrow c-arrow--round"></div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="p-works-detail__otherLinkItem">
                      <a
                        href=""
                        class="p-works-detail__otherLink js-works-cursor02 -cursorNone -civil"
                      >
                        <div class="p-works-detail__item-inner">
                          <div class="p-works-detail__text-left">
                            <h3 class="p-works-detail__item-title">
                              Civil engineering
                              <br />
                              <span>土木事業</span>
                            </h3>
                          </div>
                          <div class="p-works-detail__text-right">
                            <div class="c-arrow c-arrow--round"></div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="p-works-detail__otherLinkItem">
                      <a
                        href=""
                        class="p-works-detail__otherLink js-works-cursor03 -cursorNone -housing"
                      >
                        <div class="p-works-detail__item-inner">
                          <div class="p-works-detail__text-left">
                            <h3 class="p-works-detail__item-title">
                              Housing
                              <br />
                              <span>住宅事業</span>
                            </h3>
                          </div>
                          <div class="p-works-detail__text-right">
                            <div class="c-arrow c-arrow--round"></div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="p-works-detail__btn-wrapper">
                  <button class="p-works-detail__btn">
                    <a href=""> 施工実績一覧へ </a>
                  </button>
                </div>
                <!-- <div class="c-list-button__block">
                  <a href="<%= path %>works" class="c-list-button"
                    >施工実績一覧へ</a
                  >
                </div> -->
              </div>
            </article>
          </div>
        </section>
        <!-- /sec-works-detail -->
        <section class="p-works-detail-otherlink"></section>
      </main>
      <!-- /main -->
      <%- include('../../common/_subFooter', {pageId:pageId }) %> <%-
      include('../../common/_footer', {pageId:pageId }) %>
      <!-- TweenMax.min.js -->
      <script src="<%= path %>assets/js/TweenMax.min.js"></script>
      <!-- worksCursor.js -->
      <script src="<%= path %>assets/js/worksCursor.js"></script>
      <%- include('../../common/_script', {pageId:pageId }) %> <%-
      include('../../common/script/_script-worksdetail', {pageId:pageId }) %>
    </div>
  </body>
</html>
