<% let pageId = 'home'; %> <% let path = jsonData.pages[pageId].path %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageId:pageId }) %>
  <body id="js-body" class="home js-body">
    <div id="top" class="" ontouchstart="">
      <%- include('./common/_header', {pageId:pageId }) %>
      <!-- mouse cursor -->
      <div id="js-cursor" class="p-cursor"></div>
      <div id="js-chaser" class="p-chaser">
        <p class="text">DRAG</p>
      </div>
      <!-- /mouse cursor -->
      <!-- main -->
      <main class="l-main">
        <!-- loading -->
        <div id="js-loading" class="p-loading">
          <div id="js-loading-bg" class="js-loading__bg p-loading__bg">
            <figure id="js-logo" class="p-loading__logo">
              <img
                src="<%= path %>assets/images/common/loading_logo.svg"
                alt="藤原建設工業"
              />
            </figure>
          </div>
        </div>
        <!-- /loading -->

        <section class="p-home-kv" id="js-top">
          <div class="p-home-kv__grid-wrapper">
            <div class="p-home-kv__text-wrapper">
              <h2 id="js-catch" class="p-home-catch__eng js-catch">
                <div class="p-home-catch__engWrap">
                  <span class="p-home-catch__engText">H</span>
                  <span class="p-home-catch__engText">o</span>
                  <span class="p-home-catch__engText">w</span>
                  <span class="p-home-catch__engText">&nbsp;</span>
                  <span class="p-home-catch__engText">F</span>
                  <span class="p-home-catch__engText">a</span>
                  <span class="p-home-catch__engText">r</span>
                </div>
                <div class="p-home-catch__engBlock">
                  <div class="p-home-catch__engWrap">
                    <span class="p-home-catch__engText">C</span>
                    <span class="p-home-catch__engText">a</span>
                    <span class="p-home-catch__engText">n</span>
                  </div>
                  <div class="p-home-catch__engWrap">
                    <span class="p-home-catch__engText u-only-pc">&nbsp;</span>
                    <span class="p-home-catch__engText">W</span>
                    <span class="p-home-catch__engText">e</span>
                    <span class="p-home-catch__engText">&nbsp;</span>
                    <span class="p-home-catch__engText">G</span>
                    <span class="p-home-catch__engText">o</span>
                    <span class="p-home-catch__engText">?</span>
                  </div>
                </div>
              </h2>
              <p id="js-catch-text" class="p-home-catch__text">
                「どこまでいけるか」<br />お客さまと挑戦し続ける未来を<br
                  class="u-only-sp"
                />築いていきます。
              </p>
            </div>

            <!-- swiper-container -->
            <div class="p-home-kv__swiper-container">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-img">
                      <figure>
                        <img
                          src="<%= path %>assets/images/home/slider01.jpg"
                          alt="slider01"
                        />
                      </figure>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img">
                      <figure>
                        <img
                          src="<%= path %>assets/images/home/slider02.jpg"
                          alt="slider02"
                        />
                      </figure>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img">
                      <figure>
                        <img
                          src="<%= path %>assets/images/home/slider03.jpg"
                          alt="slider03"
                        />
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- swiper-container -->
            <!-- swiper-container-text -->
            <div class="p-home-kv__text-slider-container swiper-container-text">
              <div class="p-home-kv__text-slider-wrapper swiper-wrapper">
                <div class="p-home-kv__text-slider-slide swiper-slide">
                  <div class="p-home-kv__text-slider-text slide-img">
                    <div class="p-home-kv__text-slider-text-eng js-slider-text">
                      <div class="p-home-kv__engWrap --archi">
                        <span class="p-home-kv__engText">A</span>
                        <span class="p-home-kv__engText">r</span>
                        <span class="p-home-kv__engText">c</span>
                        <span class="p-home-kv__engText">h</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">t</span>
                        <span class="p-home-kv__engText">e</span>
                        <span class="p-home-kv__engText">c</span>
                        <span class="p-home-kv__engText">t</span>
                        <span class="p-home-kv__engText">u</span>
                        <span class="p-home-kv__engText">r</span>
                        <span class="p-home-kv__engText">e</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-home-kv__text-slider-slide swiper-slide">
                  <div class="p-home-kv__text-slider-text slide-img">
                    <div class="p-home-kv__text-slider-text-eng js-slider-text">
                      <div class="p-home-kv__engWrap --civil">
                        <span class="p-home-kv__engText">C</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">v</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">l</span>
                        <span class="p-home-kv__engText">&nbsp;</span>
                        <span class="p-home-kv__engText">E</span>
                        <span class="p-home-kv__engText">n</span>
                        <span class="p-home-kv__engText">g</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">n</span>
                        <span class="p-home-kv__engText">e</span>
                        <span class="p-home-kv__engText">e</span>
                        <span class="p-home-kv__engText">r</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">n</span>
                        <span class="p-home-kv__engText">g</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-home-kv__text-slider-slide swiper-slide">
                  <div class="p-home-kv__text-slider-text slide-img">
                    <div class="p-home-kv__text-slider-text-eng js-slider-text">
                      <div class="p-home-kv__engWrap -housing">
                        <span class="p-home-kv__engText">H</span>
                        <span class="p-home-kv__engText">o</span>
                        <span class="p-home-kv__engText">u</span>
                        <span class="p-home-kv__engText">s</span>
                        <span class="p-home-kv__engText">i</span>
                        <span class="p-home-kv__engText">n</span>
                        <span class="p-home-kv__engText">g</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- swiper-container-text -->

            <!-- scroll-animation -->
            <div class="p-scroll" id="js-scroll"></div>
          </div>
        </section>
        <div class="l-overlay"></div>
        <div class="js-trigger-section">
          <section class="p-home-about">
            <div class="p-home-about__inner">
              <div class="p-home-about__text-container">
                <h2 class="l-section__title js-title inview">
                  <span class="l-section__titleTextWrap">
                    <span class="l-section__titleText">A</span>
                    <span class="l-section__titleText">b</span>
                    <span class="l-section__titleText">o</span>
                    <span class="l-section__titleText">u</span>
                    <span class="l-section__titleText">t</span>
                  </span>
                  <span class="-jp">会社情報</span>
                </h2>
                <!-- c-desc -->
                <div class="c-desc">
                  <div class="c-desc__text">
                    これまでの実績を築き上げてきた挑戦と経験を、未来のお客さまへ繋いでいくことをテーマにして日々のお仕事に励んでいます。
                    <br />
                    「過去と未来を繋ぎ続ける」そんな会社を目指す技術集団が、藤原建設工業です。
                  </div>
                  <div class="c-desc__link">
                    <a href="">
                      <div class="c-desc__link-text">View More</div>
                      <div class="c-arrow c-arrow--round"></div>
                    </a>
                  </div>
                </div>
                <!-- c-desc -->
              </div>
              <figure class="p-home-about__image">
                <img
                  src="<%= path %>assets/images/home/home_about.jpg"
                  alt="about"
                />
              </figure>
            </div>
          </section>

          <section class="p-home-movie">
            <video
              id="js-video"
              class="p-home-movie__video"
              src="assets/images/video/fujiwara_movie.mp4"
              poster="assets/images/video/video_poster.webp"
              width="100%"
              height="auto"
              loop
              autoplay
              muted
              playsinline
            ></video>
          </section>
          <section class="p-home-service">
            <div class="p-home-service__inner">
              <div class="p-home-service__heading">
                <!-- l-section-title -->
                <h2 class="l-section__title js-title inview">
                  <span class="l-section__titleTextWrap">
                    <span class="l-section__titleText">S</span>
                    <span class="l-section__titleText">e</span>
                    <span class="l-section__titleText">r</span>
                    <span class="l-section__titleText">v</span>
                    <span class="l-section__titleText">i</span>
                    <span class="l-section__titleText">c</span>
                    <span class="l-section__titleText">e</span>
                  </span>
                  <span class="-jp">事業内容</span>
                </h2>
                <!-- l-section-title -->
                <!-- c-desc -->
                <div class="c-desc">
                  <div class="c-desc__text">
                    藤原建設工業では「建築事業」「土木事業」「住宅事業」の3つの事業を通してお客さまのお手伝いをさせていただいております。
                    <br />
                    事業内容ページでは、3つの柱をより具体的にご紹介します。
                  </div>
                  <div class="c-desc__link">
                    <a href="">
                      <div class="c-desc__link-text">View More</div>
                      <div class="c-arrow c-arrow--round"></div>
                    </a>
                  </div>
                </div>
                <!-- c-desc -->
              </div>
              <div class="p-home-service__card-container">
                <ul class="p-home-service__cards">
                  <li class="p-home-service__card">
                    <a href="" class="p-home-service__link">
                      <figure class="p-home-service__card-image">
                        <img
                          src="<%= path %>assets/images/home/service01.jpg"
                          alt="建築事業"
                        />
                      </figure>
                      <div class="p-home-service__card-title">
                        <span class="eng">Architecture</span><br />
                        <span>建築事業</span>
                      </div>
                      <div class="p-home-service__card-deco --archi">
                        <div class="p-home-service__card-deco-text">
                          View more
                        </div>
                        <div class="c-arrow c-arrow--round"></div>
                      </div>
                    </a>
                  </li>

                  <li class="p-home-service__card">
                    <a href="" class="p-home-service__link">
                      <figure class="p-home-service__card-image">
                        <img
                          src="<%= path %>assets/images/home/service02.jpg"
                          alt="土木事業"
                        />
                      </figure>
                      <div class="p-home-service__card-title">
                        <span class="eng">Civil engineering</span><br />
                        <span>土木事業</span>
                      </div>
                      <div class="p-home-service__card-deco --civil">
                        <div class="p-home-service__card-deco-text">
                          View more
                        </div>
                        <div class="c-arrow c-arrow--round"></div>
                      </div>
                    </a>
                  </li>

                  <li class="p-home-service__card">
                    <a href="" class="p-home-service__link">
                      <figure class="p-home-service__card-image">
                        <img
                          src="<%= path %>assets/images/home/service03.jpg"
                          alt="住宅事業"
                        />
                      </figure>
                      <div class="p-home-service__card-title">
                        <span class="eng">Housing</span><br />
                        <span>住宅事業</span>
                      </div>
                      <div class="p-home-service__card-deco --housing">
                        <div class="p-home-service__card-deco-text">
                          View more
                        </div>
                        <div class="c-arrow c-arrow--round"></div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="p-home-loop">
            <div class="p-home-loop__list">
              <ul class="p-home-loop__itemWrap">
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img01.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img02.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img03.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img04.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img05.jpg"
                    alt=""
                  />
                </li>
              </ul>
              <ul class="p-home-loop__itemWrap">
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img01.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img02.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img03.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img04.jpg"
                    alt=""
                  />
                </li>
                <li class="p-home-loop__item">
                  <img
                    src="<%= path %>assets/images/home/home_slider_img05.jpg"
                    alt=""
                  />
                </li>
              </ul>
            </div>
          </section>
          <section class="p-home-works">
            <div class="p-home-works__inner">
              <div class="p-home-works__title-wrapper">
                <!-- l-section-title -->
                <h2 class="l-section__title js-title inview">
                  <span class="l-section__titleTextWrap">
                    <span class="l-section__titleText">W</span>
                    <span class="l-section__titleText">o</span>
                    <span class="l-section__titleText">r</span>
                    <span class="l-section__titleText">k</span>
                    <span class="l-section__titleText">s</span>
                  </span>
                  <span class="-jp">施工実績</span>
                </h2>
                <!-- l-section-title -->
              </div>

              <!-- splide -->
              <div
                id="js-slider-works"
                class="p-home-works__sliderContainer splide"
                aria-labelledby="施工実績"
              >
                <div class="p-home-works__sliderTrack splide__track">
                  <ul class="p-home-works__sliderWrapper splide__list">
                    <!-- スライダーのコンテンツ -->
                    <li class="p-works-category__card --archi splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img01.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯ビル</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <li class="p-works-category__card --house splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img02.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯県◯◯宅</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <li class="p-works-category__card --civil splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img03.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯補修工事</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <li class="p-works-category__card --archi splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img04.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯ビル</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <li class="p-works-category__card --civil splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img05.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯工事</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <li class="p-works-category__card --archi splide__slide">
                      <a href="">
                        <figure class="p-works-category__image">
                          <img
                            src="<%= path %>assets/images/works/works_img06.jpg"
                            alt=""
                          />
                        </figure>
                        <div class="p-works-category__card-text-wrapper">
                          <p class="p-works-category__card-title">◯◯ビル</p>
                          <p class="p-works-category__card-date">2022.02.24</p>
                        </div>
                      </a>
                    </li>

                    <!-- /スライダーのコンテンツ -->
                  </ul>
                </div>
              </div>

              <!-- splide -->

              <!-- c-text-loop -->
              <div class="c-text-loop">
                <div class="c-text-loop__textWrap">
                  <div class="c-text-loop__text">
                    <span>our works</span>
                  </div>
                </div>
                <div class="c-text-loop__link">
                  <a href="">
                    <div class="c-text-loop__link-text">View More</div>
                    <div class="c-arrow c-arrow--round"></div>
                  </a>
                </div>
              </div>
              <!-- c-text-loop -->
            </div>
          </section>
          <section class="p-home-news">
            <div class="p-home-news__inner">
              <!-- l-section-title -->
              <h2 class="l-section__title js-title inview">
                <span class="l-section__titleTextWrap">
                  <span class="l-section__titleText">N</span>
                  <span class="l-section__titleText">e</span>
                  <span class="l-section__titleText">w</span>
                  <span class="l-section__titleText">s</span>
                </span>
                <span class="-jp">新着情報</span>
              </h2>
              <!-- l-section-title -->
              <div class="p-home-news__card-container">
                <ul class="p-home-news__card-list">
                  <li class="p-home-news__card">
                    <a href="">
                      <figure class="p-home-news__card-image">
                        <img
                          src="<%= path %>assets/images/home/news01.jpg"
                          alt="slider01"
                        />
                      </figure>
                      <div class="p-home-news__card-text">
                        <div class="p-home-news__subtext">
                          <span class="p-home-news__date">2022.02.24</span>
                          <spaan class="p-home-news__category">お知らせ</spaan>
                        </div>
                        <div class="p-home-news__desc">
                          ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです…
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>

                <ul class="p-home-news__card-list">
                  <li class="p-home-news__card">
                    <a href="">
                      <figure class="p-home-news__card-image">
                        <img
                          src="<%= path %>assets/images/home/news02.jpg"
                          alt="slider01"
                        />
                      </figure>
                      <div class="p-home-news__card-text">
                        <div class="p-home-news__subtext">
                          <span class="p-home-news__date">2022.02.24</span>
                          <spaan class="p-home-news__category">お知らせ</spaan>
                        </div>
                        <div class="p-home-news__desc">
                          ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです…
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>

                <ul class="p-home-news__card-list">
                  <li class="p-home-news__card">
                    <a href="">
                      <figure class="p-home-news__card-image">
                        <img
                          src="<%= path %>assets/images/home/news03.jpg"
                          alt="slider01"
                        />
                      </figure>
                      <div class="p-home-news__card-text">
                        <div class="p-home-news__subtext">
                          <span class="p-home-news__date">2022.02.24</span>
                          <spaan class="p-home-news__category">お知らせ</spaan>
                        </div>
                        <div class="p-home-news__desc">
                          ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです…
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>

                <ul class="p-home-news__card-list">
                  <li class="p-home-news__card">
                    <a href="">
                      <figure class="p-home-news__card-image">
                        <img
                          src="<%= path %>assets/images/home/news04.jpg"
                          alt="slider01"
                        />
                      </figure>
                      <div class="p-home-news__card-text">
                        <div class="p-home-news__subtext">
                          <span class="p-home-news__date">2022.02.24</span>
                          <spaan class="p-home-news__category">お知らせ</spaan>
                        </div>
                        <div class="p-home-news__desc">
                          ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです…
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <ul class="p-home-news__card-list">
                  <li class="p-home-news__card">
                    <a href="">
                      <figure class="p-home-news__card-image">
                        <img
                          src="<%= path %>assets/images/home/news05.jpg"
                          alt="slider01"
                        />
                      </figure>
                      <div class="p-home-news__card-text">
                        <div class="p-home-news__subtext">
                          <span class="p-home-news__date">2022.02.24</span>
                          <spaan class="p-home-news__category">お知らせ</spaan>
                        </div>
                        <div class="p-home-news__desc">
                          ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです。ダミーテキストです…
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="c-desc__link">
                  <a href="">
                    <div class="c-desc__link-text">View More</div>
                    <div class="c-arrow c-arrow--round"></div>
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <section class="p-home-recruit">
          <figure class="js-parallax-img">
            <img
              src="<%= path %>assets/images/home/recruit01.jpg"
              alt="slider01"
            />
          </figure>
          <div class="p-home-recruit__inner">
            <!-- l-section-title -->
            <h2 class="l-section__title js-title inview">
              <span class="l-section__titleTextWrap">
                <span class="l-section__titleText">R</span>
                <span class="l-section__titleText">e</span>
                <span class="l-section__titleText">c</span>
                <span class="l-section__titleText">r</span>
                <span class="l-section__titleText">u</span>
                <span class="l-section__titleText">i</span>
                <span class="l-section__titleText">t</span>
              </span>
              <span class="-jp">採用情報</span>
            </h2>
            <!-- l-section-title -->
            <!-- c-desc -->
            <div class="c-desc">
              <div class="c-desc__text">
                藤原建設工業では、各職種にて新卒採用と中途採用を通年行っています。
                <br />
                これまで「過去と未来を繋ぎ続ける」に共感していただける仲間たちと歩んできました。
                <br />
                一緒に未来を築いていける方とお会いできるのを楽しみにしています。
              </div>
              <div class="c-desc__link">
                <a href="">
                  <div class="c-desc__link-text">View More</div>
                  <div class="c-arrow c-arrow--round"></div>
                </a>
              </div>
            </div>
            <!-- c-desc -->
          </div>
          <!-- c-text-loop -->
          <div class="c-text-loop">
            <div class="c-text-loop__textWrap">
              <div class="c-text-loop__text">
                <span>get in touch</span>
              </div>
            </div>
          </div>
          <!-- c-text-loop -->
        </section>

        <!-- only-mobile-footer -->
        <div class="p-fixed-button">
          <ul class="p-fixed-button__list">
            <li class="p-fixed-button__item">
              <a href="./entry" class="p-fixed-button__link -entry">ENTRY</a>
            </li>
            <li class="p-fixed-button__item">
              <a href="./recruit" class="p-fixed-button__link -recruit"
                >RECRUIT</a
              >
            </li>
            <li class="p-fixed-button__item">
              <a href="./contact" class="p-fixed-button__link -contact"
                >CONTACT</a
              >
            </li>
          </ul>
        </div>
        <!-- only-mobile-footer -->
      </main>
      <!-- /main -->
      <!-- footer -->
      <%- include('./common/_footer', {pageId:pageId }) %>
      <!-- TweenMax.min.js -->
      <script src="<%= path %>assets/js/TweenMax.min.js"></script>
      <!-- sliderCursor.js -->
      <script src="<%= path %>assets/js/sliderCursor.js"></script>
      <!-- script -->
      <%- include('./common/_script', {pageId:pageId }) %>
      <!-- script -->
      <%- include('./common/script/_script-top', {pageId:pageId }) %>
      <!-- script -->
    </div>
  </body>
</html>
