<% let pageId = '404'; %> <% let path = jsonData.pages[pageId].path %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/_head', {pageId:pageId }) %>
  <body class="subpage">
    <div class="wrap" ontouchstart="">
      <%- include('../common/_header', {pageId:pageId }) %>
      <!-- main -->
      <main class="l-main">
        <section class="l-hero" id="js-top">
          <div class="l-hero__main-wrapper">
            <div class="l-hero__heading-wrapper">
              <!-- l-section-title -->
              <h2 class="l-section__title js-title load">
                <span class="l-section__titleTextWrap">
                  <span class="l-section__titleText">4</span>
                  <span class="l-section__titleText">0</span>
                  <span class="l-section__titleText">4</span>
                  <span class="l-section__titleText">&nbsp;</span>
                  <span class="l-section__titleText">N</span>
                  <span class="l-section__titleText">o</span>
                  <span class="l-section__titleText">t</span>
                  <span class="l-section__titleText">&nbsp;</span>
                  <span class="l-section__titleText">F</span>
                  <span class="l-section__titleText">o</span>
                  <span class="l-section__titleText">u</span>
                  <span class="l-section__titleText">n</span>
                  <span class="l-section__titleText">d</span>
                </span>
                <span class="-jp">ページが見つかりませんでした</span>
              </h2>
              <!-- l-section-title -->
            </div>
            <figure class="l-hero__image js-parallax-img">
              <img src="<%= path %>assets/images/404/hero_404.jpg" alt="" />
            </figure>
          </div>
          <div class="l-hero__breadcrumbs">
            <a href="">top</a>ページが見つかりませんでした
          </div>
        </section>
        <section class="p-notfound">
          <h3 class="p-notfound__heading">
            お探しのページが見つかりませんでした。
          </h3>
          <p class="p-notfound__desc">
            誠に申し訳ございません。
            <br />
            お探しのページはURLが変更になったか、削除された可能性がございます。
            <br />
            大変お手数ですが、もう一度ナビゲーションよりご希望のページをお探しください。
          </p>
          <button class="c-btn--back">トップへ戻る</button>
        </section>
      </main>
      <!-- /main -->
      <%- include('../common/_subFooter', {pageId:pageId }) %> <%-
      include('../common/_footer', {pageId:pageId }) %> <%-
      include('../common/_script', {pageId:pageId }) %>
    </div>
  </body>
</html>
