<% let pageId = 'news'; %> <% let path = jsonData.pages[pageId].path %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/_head', {pageId:pageId }) %>
  <body class="subpage">
    <div class="wrap" ontouchstart="">
      <%- include('../common/_header', {pageId:pageId }) %>
      <!-- main -->
      <main class="l-main">
        <section class="l-hero" id="js-top">
          <div class="l-hero__main-wrapper">
            <div class="l-hero__heading-wrapper">
              <!-- l-section-title -->
              <h2 class="l-section__title js-title load">
                <span class="l-section__titleTextWrap">
                  <span class="l-section__titleText">N</span>
                  <span class="l-section__titleText">e</span>
                  <span class="l-section__titleText">w</span>
                  <span class="l-section__titleText">s</span>
                </span>
                <span class="-jp">新着情報</span>
              </h2>
              <!-- l-section-title -->
            </div>
            <figure class="l-hero__image">
              <img src="<%= path %>assets/images/news/hero_news.jpg" alt="" />
            </figure>
          </div>
          <div class="l-hero__breadcrumbs"><a href="">top</a>新着情報</div>
        </section>
        <article class="p-news">
          <div class="p-news__header">
            <div class="p-news__heading">Category</div>
            <ul class="p-news__category-list">
              <li class="p-news__category-item is-active">
                <a href=""> 全て </a>
              </li>
              <li class="p-news__category-item">
                <a href=""> お知らせ </a>
              </li>
              <li class="p-news__category-item">
                <a href=""> ブログ </a>
              </li>
            </ul>
          </div>

          <div class="p-news__card-wrapper">
            <ul class="p-news__card-list">
              <li class="p-news__card">
                <a href="">
                  <div class="p-news__card-inner">
                    <figure class="p-news__card-image">
                      <img
                        src="<%= path %>assets/images/news/news_img01.jpg"
                        alt=""
                      />
                    </figure>

                    <time>2022.02.24</time>
                    <p class="p-news__card-tag">お知らせ</p>
                    <!-- <div class="p-news__card-tag">お知らせ</div> -->
                    <div class="p-news__card-title">
                      ホームページをリニューアルしました。
                    </div>
                  </div>
                </a>
              </li>

              <li class="p-news__card">
                <a href="">
                  <div class="p-news__card-inner">
                    <figure class="p-news__card-image">
                      <img
                        src="<%= path %>assets/images/news/news_img02.jpg"
                        alt=""
                      />
                    </figure>

                    <time>2022.02.24</time>
                    <p class="p-news__card-tag">お知らせ</p>
                    <!-- <div class="p-news__card-tag">お知らせ</div> -->
                    <div class="p-news__card-title">
                      採用情報を更新しました。
                    </div>
                  </div>
                </a>
              </li>

              <li class="p-news__card">
                <a href="">
                  <div class="p-news__card-inner">
                    <figure class="p-news__card-image">
                      <img
                        src="<%= path %>assets/images/news/news_img03.jpg"
                        alt=""
                      />
                    </figure>

                    <time>2022.02.24</time>
                    <p class="p-news__card-tag">ブログ</p>
                    <!-- <div class="p-news__card-tag">お知らせ</div> -->
                    <div class="p-news__card-title">
                      ◯◯にて弊社代表のスピーチが実施されました。
                    </div>
                  </div>
                </a>
              </li>

              <li class="p-news__card">
                <a href="">
                  <div class="p-news__card-inner">
                    <figure class="p-news__card-image">
                      <img
                        src="<%= path %>assets/images/news/news_img04.jpg"
                        alt=""
                      />
                    </figure>

                    <time>2022.02.24</time>
                    <p class="p-news__card-tag">お知らせ</p>
                    <!-- <div class="p-news__card-tag">お知らせ</div> -->
                    <div class="p-news__card-title">
                      50周年式典が◯◯会場にて執り行われ、◯◯さんに会場へお越しいただきました。
                    </div>
                  </div>
                </a>
              </li>

              <li class="p-news__card">
                <a href="">
                  <div class="p-news__card-inner">
                    <figure class="p-news__card-image">
                      <img
                        src="<%= path %>assets/images/news/news_img05.jpg"
                        alt=""
                      />
                    </figure>

                    <time>2022.02.24</time>
                    <p class="p-news__card-tag">お知らせ</p>
                    <!-- <div class="p-news__card-tag">お知らせ</div> -->
                    <div class="p-news__card-title">
                      YouTubeチャンネルを開設しました。
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div class="p-news__archive">
            <div class="p-news__archive-heading">Archive</div>
            <ul class="p-news__archive-list">
              <li class="p-news__archive-item">
                <a href=""> 2022年8月 (1) </a>
              </li>
              <li class="p-news__archive-item">
                <a href=""> 2022年7月 (12) </a>
              </li>
              <li class="p-news__archive-item">
                <a href=""> 2022年6月 (5) </a>
              </li>
              <li class="p-news__archive-item">
                <a href=""> 2022年5月 (3) </a>
              </li>
            </ul>
          </div>

          <div class="p-news__pagenation">
            <div class="p-news__pagenation__arrow">
              <img src="<%= path %>assets/images/works/arrow-left.svg" alt="" />
            </div>

            <ul class="p-news__pagenation-links">
              <li class="p-news__pagenation-link">1</li>
              <li class="p-news__pagenation-link is-active">2</li>
              <li class="p-news__pagenation-link">3</li>
              <li class="p-news__pagenation-link">...</li>
              <li class="p-news__pagenation-link">10</li>
            </ul>

            <div class="p-news__pagenation__arrow">
              <img
                src="<%= path %>assets/images/works/arrow-right.svg"
                alt=""
              />
            </div>
          </div>
        </article>
      </main>
      <!-- /main -->
      <%- include('../common/_subFooter', {pageId:pageId }) %> <%-
      include('../common/_footer', {pageId:pageId }) %> <%-
      include('../common/_script', {pageId:pageId }) %>
    </div>
  </body>
</html>
